@model ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";

}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class=" control-label form-label">Vendor</label>
                <select asp-for="VendorId" class="col-sm-12" asp-items="ViewBag.id"></select>
                <span asp-validation-for="VendorId" class="text-danger col-sm-9"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceSell" class="control-label"></label>
                <input asp-for="PriceSell" class="form-control" />
                <span asp-validation-for="PriceSell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
