<ul id="js-nav-menu" class="nav-menu">

    <li class="nav-title">Bookings &amp; Rooms</li>

    <li class="active open">
        <a href="#" title="Room" data-filter-tags="Room">
            <i class="fal fa-window"></i>
            <span class="nav-link-text">Room</span>
        </a>
    </li>

    <li class="">
        <a href="#" title="Room Categories" data-filter-tags="Room Categories">
            <i class="fal fa-th-list"></i>
            <span class="nav-link-text">Room Categories</span>
        </a>
    </li>
    <li class="">
        <a href="#" title="Bookings" data-filter-tags="Bookings">
            <i class="fal fa-edit"></i>
            <span class="nav-link-text">Bookings</span>
        </a>
    </li>

    <li class="">
        <a href="#" title="Features" data-filter-tags="Featuress">
            <i class="fal fa-bolt"></i>
            <span class="nav-link-text">Features</span>
        </a>
    </li>

    <li class="">
        <a href="#" title="Media" data-filter-tags="Media">
            <i class="fal fa-shield-alt"></i>
            <span class="nav-link-text">Media</span>
        </a>
    </li>


    <li class="nav-title">Inventorys </li>
    <li class="">
        <a href="#" title="Inventory" data-filter-tags="Inventory">
            <i class="fal fa-info-circle"></i>
            <span class="nav-link-text"> Inventory</span>
        </a>
    </li>

    <li class="nav-title">Report </li>

    <li class="">
        <a href="#" title="Report" data-filter-tags="Report">
            <i class="fal fa-tag"></i>
            <span class="nav-link-text">Report</span>
        </a>
    </li>

    <li class="nav-title">Manage </li>

    <li class="">
        <a href="#" title="Manage" data-filter-tags="Manage">
            <i class="fal fa-cog"></i>
            <span class="nav-link-text">Manage</span>
        </a>
        <ul>
            <li class="">
                <a href="/form/basicinputs" title="User" data-filter-tags="User">
                    <span class="nav-link-text">User</span>
                </a>
            </li>
            <li class="">

                <a href="/form/checkboxradio" title="Roles" data-filter-tags="Roles">
                    <span class="nav-link-text">Roles</span>
                </a>
            </li>
        </ul>
    </li>  
</ul>