@model ChangePasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel Transylvania - Register</title>
    <link href="~/css/root.css" rel="stylesheet">
    <style type="text/css">


        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <form asp-action="ChangePassWord" asp-controller="Account" method="post">
            <div class="top">
                <h4>Change Password</h4>
            </div>
            <div class="form-area">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="group">
                    <input asp-for="OldPassWord" class="form-control" placeholder="OldPassWord" />
                    <span asp-validation-for="OldPassWord" class="text-danger"></span>
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="group">
                    <input asp-for="NewPassword" class="form-control" placeholder="NewPassword" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <i class="fa fa-key"></i>
                </div>
                <button type="submit" class="btn btn-default btn-block">ChangePassword</button>
            </div>
        </form>
    </div>
</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
